{% extends template %}

{% block title %}
    {{ parent() }} &HorizontalLine; Homepage
{% endblock %}

{% block content %}
<nav>
    <div class="header">
        <h1>Recent Articles</h1>

        <div class="pagination">
            {% if articles.getPreviousPage() %}
                <a class="control"
                   href="{{ urlFor('homepage', {'page': 1}) }}">«</a>
                <a class="control"
                   href="{{ urlFor('homepage', {'page': articles.getPreviousPage}) }}">‹</a>
            {% endif %}
            {% for i in articles.getPageNumbers() %}
            &nbsp;
            <a class="control-number {{articles.isActive(i)? "active" }}" 
               href="{{ urlFor('homepage', {'page': i}) }}">
                    {{ i }}</a>
            &nbsp;
            {% endfor %}
            {% if articles.getNextPage() %}
            <a class="control" 
               href="{{ urlFor('homepage', {'page': articles.getNextPage()}) }}">›</a>
            <a class="control" 
               href="{{ urlFor('homepage', {'page': articles.getPageCount()}) }}">»</a>
            {% endif %}
    </div>
</div>
<ul id="article-list">
        {% for article in articles %}
        <li>
            <time pubdate datetime="{{ article.created.format('c') }}">
                <a href="{{ urlFor('article', {'slug': article.slug}) }}" >
                        {{ article.title }}
                    </a>
                </time>
            </li>

        {% endfor %}
        </ul>

    </nav>

{% endblock %}