{% extends template %}

{% block title %}
    {{ parent() }} &HorizontalLine; Homepage
{% endblock %}

{% block content %}
<nav>
    <div class="header">
        <h1>Recent Articles</h1>

        <div class="pagination">
            {% set nextPage = currentPage + 1 %}
            {% set previousPage = currentPage - 1 %}
            {% if previousPage != 0 %}
                <!-- <a href="">«»</a> -->
                <a class="control"
                   href="{{ urlFor('homepage', {'page': previousPage}) }}">‹</a>
            {% endif %}
            {% for i in range(1, totalPage) %}
                {% set active = (i==currentPage)? "active" %}
                <a class="control-number {{active}}" 
                   href="{{ urlFor('homepage', {'page': i}) }}">
                    {{ i }}</a>
            {% endfor %}
            {% if nextPage <= totalPage %}
                <a class="control" 
                   href="{{ urlFor('homepage', {'page': nextPage}) }}">›</a>
            {% endif %}
            </div>
        </div>
        <ul id="article-list">
        {% for article in articles %}
                <li>
                    <time pubdate datetime="{{ article.created.format('c') }}">
                        <a href="{{ urlFor('article', {'slug': article.slug}) }}" >
                        {{ article.title }}
                            </a>
                        </time>
                    </li>

        {% endfor %}
                </ul>

            </nav>

{% endblock %}