{% extends template %}

{% block title %}
    {{ parent() }} &HorizontalLine; Homepage
{% endblock %}

{% block content %}
<nav>
    <h1>Recent Articles</h1>
    
    {% set nextPage = currentPage + 1 %}
    {% set previousPage = currentPage - 1 %}
    {% if previousPage != 0 %}
        <a href="{{ urlFor('homepage', {'page': previousPage}) }}">&NestedLessLess; Previous</a>
    {% endif %}
    {% if nextPage <= totalPage %}
        <a href="{{ urlFor('homepage', {'page': nextPage}) }}">Next &NestedGreaterGreater;</a>
    {% endif %}
    <ul>
        {% for article in articles %}
            <li>
                <time pubdate datetime="{{ article.created.format('c') }}">
                    ({{article.created.format('d/m/Y') }})
                </time>
                <a href="{{ urlFor('article', {'slug': article.slug}) }}" >
                    {{ article.title }}
                    </a>
                </li>
        {% endfor %}
    </ul>

</nav>

{% endblock %}