{% extends template %}

{% block title %}
    {{ parent() }} &HorizontalLine; Manage
{% endblock %}

{% block content %}
    <h1>Manage</h1>
    
    <ul>
        {% for page in range(1, pageCount) %}
            <li {{ (page == currentPage)? "class='active'" }}>
                <a href="{{ urlFor('manage', {'page': page}) }}">
                    {{ page }}
                </a>
            </li>
        {% endfor %}
    </ul>
    
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.created.format('d/m/Y') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}